.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
  }
  
  .form-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
  }
  
  .form-button {
    width: 75%;
    padding: 10px;
    margin: 5px;
    background-color: #54cc04;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .form-button:hover {
    background-color: #54cc049d;
  }

  .form-button-register {
    width: 75%;
    padding: 10px;
    margin: 15px;
    background-color: #54cc04;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .form-button-register:hover {
    background-color: #54cc049d;
  }

  .register-link {
    color: #327c00;;
  }