@import './variables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-main);
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary);
}
