.profile-container {
    display: flex;
    flex-wrap: wrap;          
    gap: 20px;                
    margin: 20px auto;        
    padding: 20px;            
    max-width: 1200px;        
    justify-content: center;  
    box-sizing: border-box;   
}

.profile-card {
    border: 1px solid #54cc04;       
    border-radius: 8px;           
    padding: 16px;                
    width: 350px;                 
    text-align: center;           
    background-color: #54cc04;   
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-size: 1.1rem;       
    line-height: 1.6;   
    color: #0e0c14;
    font-size: x-large;
}

.profile-card p {
    margin: 15px 0;                
}

.heading {
    margin-bottom: 50px;
    margin-top: 50px;
    justify-self: center;
}
